In [290]:
import pandas as pd
import numpy as np

pd.set_option('display.max_columns', None)

In [291]:
df = pd.read_csv("educational-facilities-in-nigeria (1).csv", low_memory=False)
df

,facility_name,facility_type_display,improved_water_supply,improved_sanitation,chalkboard_each_classroom_yn,num_tchrs_with_nce,num_tchr_full_time,num_students_total,num_classrms_total,phcn_electricity,num_toilets_total,num_students_male,num_students_female,num_tchrs_male,num_tchrs_female,date_of_survey,education_type,facility_id,community,ward,management,sector,formhub_photo_id,gps,survey_id,unique_lga,latitude,longitude
0,CPS SWALI,Primary school only,True,True,False,9.0,9.0,776.0,12.0,False,21.0,383.0,393.0,5.0,4.0,04/03/2014,formal_only,EIRJK,Swali,3,public,education,1393404015008.jpg,4.91691036 6.27412844 31.5 5.0,51885096-65a1-4f1f-8c2a-3b11d9ae40bb,bayelsa_yenagoa,4.916910,6.274128
1,NANA Basic Academy,Primary and Junior Secondary school combined,False,False,NaN,NaN,NaN,NaN,NaN,False,0.0,NaN,NaN,NaN,NaN,02/05/2014,formal_only,ENQHE,Mpape,Dutse,private,education,1396960914896.jpg,9.140918333333333 7.496761666666667 697.0 4.5,7f3ea41a-e4cb-41dd-85fc-5fa54c42d09f,fct_bwari,9.140918,7.496762
2,L.E.A Primary School Pabeyi,Primary school only,True,True,False,9.0,11.0,283.0,9.0,False,2.0,185.0,98.0,9.0,2.0,02/05/2014,formal_only,EDJJK,Pabeyi,Dobi,public,education,1397575395444.jpg,9.174855 7.0220616666666675 236.8 5.0,56f2e625-ec43-4c39-97a8-d6379dceefa2,fct_gwagwalada,9.174855,7.022062
3,L.E.A.PrimarySchoolPagadna,Primary school only,False,True,False,4.0,5.0,247.0,7.0,False,2.0,147.0,100.0,5.0,0.0,25/04/2014,formal_only,ELOOD,Pagadna,Dobi,public,education,1398262573409.jpg,9.115846666666666 6.962314999999999 216.5 4.4,2932eda8-64b1-4068-8412-3b2e099062fc,fct_gwagwalada,9.115847,6.962315
4,Syflora Academy,Primary school only,False,True,True,4.0,8.0,66.0,10.0,True,4.0,29.0,37.0,2.0,6.0,25/04/2014,formal_only,EZJOH,Mpape,Dutse,private,education,1396959110576.jpg,9.141155 7.499665000000001 693.2 4.7,e17acb1e-364a-4a90-9384-0d612bb240c5,fct_bwari,9.141155,7.499665
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
98662,Liberty Primary School,Pre-primary and Primary school combined,True,True,True,10.0,11.0,449.0,9.0,False,6.0,199.0,250.0,3.0,8.0,09/04/2014,formal_only,EMWBJ,Atan,Atan,private,education,1396871679634.jpg,6.66737138 3.09158342 74.0 5.0,010545d1-8fed-41fe-bcae-c142046a04e3,ogun_ado_odo_ota,6.667371,3.091583
98663,Anfani Primary School,Primary school only,True,True,False,8.0,9.0,253.0,8.0,False,6.0,188.0,65.0,9.0,0.0,13/04/2014,formal_only,EIEMQ,Anfani,Nasarawa,public,education,1396966652017.jpg,9.924088236017527 4.634761001792765 192.104372...,5d81b15f-a114-4987-adce-70b67744f3ad,niger_magama,9.924088,4.634761
98664,OLUMAWU BASIC SCHOOL,Pre-primary and Primary school combined,True,True,True,77.0,77.0,567.0,40.0,True,48.0,296.0,271.0,40.0,37.0,02/05/2014,formal_only,EAFKM,WUSE 2,WUSE II,private,education,1398257399697.jpg,9.071785 7.477803333333332 474.9 5.0,6d63ceb8-bca5-4702-8313-41944e2d2dbd,fct_municipal_area_council,9.071785,7.477803
98665,UBE Akudu Karreh,Pre-primary and Primary school combined,False,False,False,3.0,10.0,330.0,6.0,False,0.0,180.0,150.0,5.0,5.0,21/05/2014,formal_only,EZLFV,Akudu Akarreh,Karreh,public,education,1394973132370.jpg,10.77455242 8.36796434 744.0 81.0,e22ff822-bf51-4a22-81b8-32ba8642b0f7,kaduna_kubau,10.774552,8.367964
98666,Government Pry School Efut Ibonda,Pre-primary and Primary school combined,False,False,False,7.0,13.0,618.0,6.0,False,0.0,332.0,286.0,9.0,4.0,17/04/2014,formal_only,EJMDC,Efut Ibonda Community,Adiabo Efut Ward,public,education,1397642929962.jpg,5.03017455 8.2667556 66.80000305175781 5.0,68027644-9dad-4c04-b458-95fcd7de1981,cross_river_odukpani,5.030175,8.266756

In [292]:
df.columns

Index(['facility_name', 'facility_type_display', 'improved_water_supply',
       'improved_sanitation', 'chalkboard_each_classroom_yn',
       'num_tchrs_with_nce', 'num_tchr_full_time', 'num_students_total',
       'num_classrms_total', 'phcn_electricity', 'num_toilets_total',
       'num_students_male', 'num_students_female', 'num_tchrs_male',
       'num_tchrs_female', 'date_of_survey', 'education_type', 'facility_id',
       'community', 'ward', 'management', 'sector', 'formhub_photo_id', 'gps',
       'survey_id', 'unique_lga', 'latitude', 'longitude'],
      dtype='str')

In [293]:
df.info()

<class 'pandas.DataFrame'>
RangeIndex: 98667 entries, 0 to 98666
Data columns (total 28 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   facility_name                 98452 non-null  str
 1   facility_type_display         97764 non-null  str
 2   improved_water_supply         98388 non-null  object
 3   improved_sanitation           98370 non-null  object
 4   chalkboard_each_classroom_yn  96506 non-null  object
 5   num_tchrs_with_nce            95137 non-null  float64
 6   num_tchr_full_time            96503 non-null  float64
 7   num_students_total            93405 non-null  float64
 8   num_classrms_total            95375 non-null  float64
 9   phcn_electricity              98390 non-null  object
 10  num_toilets_total             95705 non-null  float64
 11  num_students_male             94292 non-null  float64
 12  num_students_female           94321 non-null  float64
 13  num_tchrs_male                94987 non-null  float64
 14  num_tchrs_female              95348 non-null  float64
 15  date_of_survey                98667 non-null  str
 16  education_type                98446 non-null  str
 17  facility_id                   98667 non-null  str
 18  community                     98429 non-null  str
 19  ward                          97896 non-null  str
 20  management                    97444 non-null  str
 21  sector                        98667 non-null  str
 22  formhub_photo_id              98667 non-null  str
 23  gps                           98667 non-null  str
 24  survey_id                     98667 non-null  str
 25  unique_lga                    98666 non-null  str
 26  latitude                      98667 non-null  float64
 27  longitude                     98667 non-null  float64
dtypes: float64(11), object(4), str(13)
memory usage: 21.1+ MB

In [294]:
df.isna().sum()

facility_name                    215
facility_type_display            903
improved_water_supply            279
improved_sanitation              297
chalkboard_each_classroom_yn    2161
num_tchrs_with_nce              3530
num_tchr_full_time              2164
num_students_total              5262
num_classrms_total              3292
phcn_electricity                 277
num_toilets_total               2962
num_students_male               4375
num_students_female             4346
num_tchrs_male                  3680
num_tchrs_female                3319
date_of_survey                     0
education_type                   221
facility_id                        0
community                        238
ward                             771
management                      1223
sector                             0
formhub_photo_id                   0
gps                                0
survey_id                          0
unique_lga                         1
latitude                           0
longitude                          0
dtype: int64

In [295]:
 df.describe()

,num_tchrs_with_nce,num_tchr_full_time,num_students_total,num_classrms_total,num_toilets_total,num_students_male,num_students_female,num_tchrs_male,num_tchrs_female,latitude,longitude
count,95137.000000,96503.000000,93405.000000,95375.000000,95705.000000,94292.000000,94321.000000,94987.000000,95348.000000,98667.000000,98667.000000
mean,7.017922,11.666197,335.406306,8.443512,2.546722,187.804628,169.837438,5.723583,5.957985,8.636626,7.183757
std,8.045479,14.033793,343.354223,7.110507,5.768857,257.891030,227.880995,6.205914,8.519480,2.403356,2.353375
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.280918,2.707594
25%,2.000000,4.000000,118.000000,4.000000,0.000000,59.000000,50.000000,2.000000,0.000000,6.671873,5.327685
50%,5.000000,8.000000,223.000000,6.000000,0.000000,114.000000,100.000000,4.000000,3.000000,8.140478,7.303945
75%,9.000000,14.000000,419.000000,11.000000,4.000000,220.000000,200.000000,7.000000,8.000000,10.631606,8.566094
max,100.000000,899.000000,2355.000000,514.000000,418.000000,7677.000000,6689.000000,100.000000,100.000000,13.875585,14.636391

In [296]:
df.drop(columns = {
    'formhub_photo_id',
    'gps',
    'survey_id',
    'facility_id'
}, inplace=True)
df.head()

,facility_name,facility_type_display,improved_water_supply,improved_sanitation,chalkboard_each_classroom_yn,num_tchrs_with_nce,num_tchr_full_time,num_students_total,num_classrms_total,phcn_electricity,num_toilets_total,num_students_male,num_students_female,num_tchrs_male,num_tchrs_female,date_of_survey,education_type,community,ward,management,sector,unique_lga,latitude,longitude
0,CPS SWALI,Primary school only,True,True,False,9.0,9.0,776.0,12.0,False,21.0,383.0,393.0,5.0,4.0,04/03/2014,formal_only,Swali,3,public,education,bayelsa_yenagoa,4.916910,6.274128
1,NANA Basic Academy,Primary and Junior Secondary school combined,False,False,NaN,NaN,NaN,NaN,NaN,False,0.0,NaN,NaN,NaN,NaN,02/05/2014,formal_only,Mpape,Dutse,private,education,fct_bwari,9.140918,7.496762
2,L.E.A Primary School Pabeyi,Primary school only,True,True,False,9.0,11.0,283.0,9.0,False,2.0,185.0,98.0,9.0,2.0,02/05/2014,formal_only,Pabeyi,Dobi,public,education,fct_gwagwalada,9.174855,7.022062
3,L.E.A.PrimarySchoolPagadna,Primary school only,False,True,False,4.0,5.0,247.0,7.0,False,2.0,147.0,100.0,5.0,0.0,25/04/2014,formal_only,Pagadna,Dobi,public,education,fct_gwagwalada,9.115847,6.962315
4,Syflora Academy,Primary school only,False,True,True,4.0,8.0,66.0,10.0,True,4.0,29.0,37.0,2.0,6.0,25/04/2014,formal_only,Mpape,Dutse,private,education,fct_bwari,9.141155,7.499665

In [297]:
df.rename(columns={
    'facility_name': 'School_name',
    'facility_type_display': 'School_type',
    'improved_water_supply': 'Improved_water_supply',
    'improved_sanitation': 'Improved_sanitation',
    'chalkboard_each_classroom_yn': 'Chalkboard_in_classroom',
    'num_tchrs_with_nce': 'Nce_qualified_teachers',
    'num_tchr_full_time': 'Full_time_teachers',
    'num_students_total': 'Total_students',
    'num_classrms_total': 'Total_classrooms',
    'phcn_electricity': 'Electricity_access',
    'num_toilets_total': 'Total_toilets',
    'num_students_male': 'Male_students',
    'num_students_female': 'Female_students',
    'num_tchrs_male': 'Male_teachers',	
    'num_tchrs_female':	'Female_teachers',
    'date_of_survey': 'Survey_date',
    'education_type': 'Education_type',	
    'community': 'Community',	
    'ward': 'Ward',	
    'management': 'Management_type',	
    'sector': 'Sector',	
    'unique_lga': 'Unique_lga',	
    'latitude': 'Latitude',	
    'longitude': 'Longitude'
    
}, inplace=True)
df.head()

,School_name,School_type,Improved_water_supply,Improved_sanitation,Chalkboard_in_classroom,Nce_qualified_teachers,Full_time_teachers,Total_students,Total_classrooms,Electricity_access,Total_toilets,Male_students,Female_students,Male_teachers,Female_teachers,Survey_date,Education_type,Community,Ward,Management_type,Sector,Unique_lga,Latitude,Longitude
0,CPS SWALI,Primary school only,True,True,False,9.0,9.0,776.0,12.0,False,21.0,383.0,393.0,5.0,4.0,04/03/2014,formal_only,Swali,3,public,education,bayelsa_yenagoa,4.916910,6.274128
1,NANA Basic Academy,Primary and Junior Secondary school combined,False,False,NaN,NaN,NaN,NaN,NaN,False,0.0,NaN,NaN,NaN,NaN,02/05/2014,formal_only,Mpape,Dutse,private,education,fct_bwari,9.140918,7.496762
2,L.E.A Primary School Pabeyi,Primary school only,True,True,False,9.0,11.0,283.0,9.0,False,2.0,185.0,98.0,9.0,2.0,02/05/2014,formal_only,Pabeyi,Dobi,public,education,fct_gwagwalada,9.174855,7.022062
3,L.E.A.PrimarySchoolPagadna,Primary school only,False,True,False,4.0,5.0,247.0,7.0,False,2.0,147.0,100.0,5.0,0.0,25/04/2014,formal_only,Pagadna,Dobi,public,education,fct_gwagwalada,9.115847,6.962315
4,Syflora Academy,Primary school only,False,True,True,4.0,8.0,66.0,10.0,True,4.0,29.0,37.0,2.0,6.0,25/04/2014,formal_only,Mpape,Dutse,private,education,fct_bwari,9.141155,7.499665

In [298]:
df.dropna(subset=['School_name'], inplace=True)
df['School_name'].isna().sum()

np.int64(0)

In [299]:
df.dropna(subset=['Unique_lga'], inplace=True)
df['Unique_lga'].isna().sum()

np.int64(0)

In [300]:
df.isna().sum()

School_name                   0
School_type                 764
Improved_water_supply       139
Improved_sanitation         157
Chalkboard_in_classroom    2009
Nce_qualified_teachers     3375
Full_time_teachers         2162
Total_students             5079
Total_classrooms           3119
Electricity_access          137
Total_toilets              2814
Male_students              4214
Female_students            4185
Male_teachers              3517
Female_teachers            3156
Survey_date                   0
Education_type               81
Community                    91
Ward                        625
Management_type            1075
Sector                        0
Unique_lga                    0
Latitude                      0
Longitude                     0
dtype: int64

In [301]:
bool_cols = ['Improved_water_supply', 'Improved_sanitation', 'Chalkboard_in_classroom', 'Electricity_access']
for col in bool_cols:
    df[col] = df[col].astype(str).str.strip().str.lower()

In [302]:
df.head()

,School_name,School_type,Improved_water_supply,Improved_sanitation,Chalkboard_in_classroom,Nce_qualified_teachers,Full_time_teachers,Total_students,Total_classrooms,Electricity_access,Total_toilets,Male_students,Female_students,Male_teachers,Female_teachers,Survey_date,Education_type,Community,Ward,Management_type,Sector,Unique_lga,Latitude,Longitude
0,CPS SWALI,Primary school only,true,true,false,9.0,9.0,776.0,12.0,false,21.0,383.0,393.0,5.0,4.0,04/03/2014,formal_only,Swali,3,public,education,bayelsa_yenagoa,4.916910,6.274128
1,NANA Basic Academy,Primary and Junior Secondary school combined,false,false,NaN,NaN,NaN,NaN,NaN,false,0.0,NaN,NaN,NaN,NaN,02/05/2014,formal_only,Mpape,Dutse,private,education,fct_bwari,9.140918,7.496762
2,L.E.A Primary School Pabeyi,Primary school only,true,true,false,9.0,11.0,283.0,9.0,false,2.0,185.0,98.0,9.0,2.0,02/05/2014,formal_only,Pabeyi,Dobi,public,education,fct_gwagwalada,9.174855,7.022062
3,L.E.A.PrimarySchoolPagadna,Primary school only,false,true,false,4.0,5.0,247.0,7.0,false,2.0,147.0,100.0,5.0,0.0,25/04/2014,formal_only,Pagadna,Dobi,public,education,fct_gwagwalada,9.115847,6.962315
4,Syflora Academy,Primary school only,false,true,true,4.0,8.0,66.0,10.0,true,4.0,29.0,37.0,2.0,6.0,25/04/2014,formal_only,Mpape,Dutse,private,education,fct_bwari,9.141155,7.499665

In [303]:
for col in bool_cols:
    df[col] = df[col].fillna(df[col].mode())
df[bool_cols].dtypes

Improved_water_supply      str
Improved_sanitation        str
Chalkboard_in_classroom    str
Electricity_access         str
dtype: object

In [304]:
bool_cols = ['Improved_water_supply', 'Improved_sanitation', 'Chalkboard_in_classroom', 'Electricity_access']
for col in bool_cols:
    df[col] = df[col].map({'true': True, 'false': False})
    df[col] = df[col].astype(bool)

In [305]:
df[bool_cols].dtypes

Improved_water_supply      bool
Improved_sanitation        bool
Chalkboard_in_classroom    bool
Electricity_access         bool
dtype: object

In [306]:
df.head()

,School_name,School_type,Improved_water_supply,Improved_sanitation,Chalkboard_in_classroom,Nce_qualified_teachers,Full_time_teachers,Total_students,Total_classrooms,Electricity_access,Total_toilets,Male_students,Female_students,Male_teachers,Female_teachers,Survey_date,Education_type,Community,Ward,Management_type,Sector,Unique_lga,Latitude,Longitude
0,CPS SWALI,Primary school only,True,True,False,9.0,9.0,776.0,12.0,False,21.0,383.0,393.0,5.0,4.0,04/03/2014,formal_only,Swali,3,public,education,bayelsa_yenagoa,4.916910,6.274128
1,NANA Basic Academy,Primary and Junior Secondary school combined,False,False,True,NaN,NaN,NaN,NaN,False,0.0,NaN,NaN,NaN,NaN,02/05/2014,formal_only,Mpape,Dutse,private,education,fct_bwari,9.140918,7.496762
2,L.E.A Primary School Pabeyi,Primary school only,True,True,False,9.0,11.0,283.0,9.0,False,2.0,185.0,98.0,9.0,2.0,02/05/2014,formal_only,Pabeyi,Dobi,public,education,fct_gwagwalada,9.174855,7.022062
3,L.E.A.PrimarySchoolPagadna,Primary school only,False,True,False,4.0,5.0,247.0,7.0,False,2.0,147.0,100.0,5.0,0.0,25/04/2014,formal_only,Pagadna,Dobi,public,education,fct_gwagwalada,9.115847,6.962315
4,Syflora Academy,Primary school only,False,True,True,4.0,8.0,66.0,10.0,True,4.0,29.0,37.0,2.0,6.0,25/04/2014,formal_only,Mpape,Dutse,private,education,fct_bwari,9.141155,7.499665

In [307]:
catg_cols = ['School_type', 'Education_type', 'Community', 'Ward', 'Management_type']
for col in catg_cols:
    df[col] = df[col].fillna(df[col].mode()[0])

In [308]:
num_cols = ['Nce_qualified_teachers', 'Full_time_teachers', 'Total_students', 'Total_classrooms', 'Total_toilets', 'Male_students',
            'Female_students', 'Male_teachers', 'Female_teachers']
for col in num_cols:
    df[col] = df[col].fillna(df[col].median())

In [309]:
df.isna().sum()

School_name                0
School_type                0
Improved_water_supply      0
Improved_sanitation        0
Chalkboard_in_classroom    0
Nce_qualified_teachers     0
Full_time_teachers         0
Total_students             0
Total_classrooms           0
Electricity_access         0
Total_toilets              0
Male_students              0
Female_students            0
Male_teachers              0
Female_teachers            0
Survey_date                0
Education_type             0
Community                  0
Ward                       0
Management_type            0
Sector                     0
Unique_lga                 0
Latitude                   0
Longitude                  0
dtype: int64

In [310]:
df.head()

,School_name,School_type,Improved_water_supply,Improved_sanitation,Chalkboard_in_classroom,Nce_qualified_teachers,Full_time_teachers,Total_students,Total_classrooms,Electricity_access,Total_toilets,Male_students,Female_students,Male_teachers,Female_teachers,Survey_date,Education_type,Community,Ward,Management_type,Sector,Unique_lga,Latitude,Longitude
0,CPS SWALI,Primary school only,True,True,False,9.0,9.0,776.0,12.0,False,21.0,383.0,393.0,5.0,4.0,04/03/2014,formal_only,Swali,3,public,education,bayelsa_yenagoa,4.916910,6.274128
1,NANA Basic Academy,Primary and Junior Secondary school combined,False,False,True,5.0,8.0,223.0,6.0,False,0.0,114.0,100.0,4.0,3.0,02/05/2014,formal_only,Mpape,Dutse,private,education,fct_bwari,9.140918,7.496762
2,L.E.A Primary School Pabeyi,Primary school only,True,True,False,9.0,11.0,283.0,9.0,False,2.0,185.0,98.0,9.0,2.0,02/05/2014,formal_only,Pabeyi,Dobi,public,education,fct_gwagwalada,9.174855,7.022062
3,L.E.A.PrimarySchoolPagadna,Primary school only,False,True,False,4.0,5.0,247.0,7.0,False,2.0,147.0,100.0,5.0,0.0,25/04/2014,formal_only,Pagadna,Dobi,public,education,fct_gwagwalada,9.115847,6.962315
4,Syflora Academy,Primary school only,False,True,True,4.0,8.0,66.0,10.0,True,4.0,29.0,37.0,2.0,6.0,25/04/2014,formal_only,Mpape,Dutse,private,education,fct_bwari,9.141155,7.499665

In [311]:
from dateutil import parser
def date_parser(date_str):
    try:
        return parser.parse(date_str, dayfirst=True)
    except Exception:
        return pd.NaT
df['Survey_date'] = df['Survey_date'].apply(date_parser)

df['Survey_date']

0       2014-03-04
1       2014-05-02
2       2014-05-02
3       2014-04-25
4       2014-04-25
           ...
98662   2014-04-09
98663   2014-04-13
98664   2014-05-02
98665   2014-05-21
98666   2014-04-17
Name: Survey_date, Length: 98451, dtype: datetime64[us]

In [313]:
df['School_type'] = df['School_type'].astype(str).str.strip().str.lower()

In [314]:
df['School_type'].value_counts()

School_type
primary only                                            29025
pre-primary and primary                                 18837
primary school only                                     15153
pre-primary and primary school combined                 10840
junior secondary only                                    5276
junior and senior secondary                              5215
junior and senior secondary school combined              4122
junior secondary school only                             1922
pre-primary only                                         1898
senior secondary only                                    1476
primary, junior, and senior secondary                     968
primary and junior secondary                              944
primary and junior secondary school combined              912
information not available / don't know                    797
primary, junior and senior secondary school combined      763
adult, vocational, or technical                           303
Name: count, dtype: int64

In [318]:
df['School_type'] = df['School_type'].replace({
    'primary only': 'primary school only',
    'pre-primary and primary': 'pre-primary and primary school combined',
    'junior secondary only': 'junior secondary school only',
    'junior and senior secondary': 'junior and senior secondary school combined',
    'primary, junior, and senior secondary': 'primary, junior and senior secondary school combined',
    'primary and junior secondary': 'primary and junior secondary school combined'
})
df['School_type'].value_counts()

School_type
primary school only                                     44178
pre-primary and primary school combined                 29677
junior and senior secondary school combined              9337
junior secondary school only                             7198
pre-primary only                                         1898
primary and junior secondary school combined             1856
primary, junior and senior secondary school combined     1731
senior secondary only                                    1476
information not available / don't know                    797
adult, vocational, or technical                           303
Name: count, dtype: int64

In [322]:
df = df[df['School_type'] != "information not available / don't know"]
df['School_type'].value_counts()

School_type
primary school only                                     44178
pre-primary and primary school combined                 29677
junior and senior secondary school combined              9337
junior secondary school only                             7198
pre-primary only                                         1898
primary and junior secondary school combined             1856
primary, junior and senior secondary school combined     1731
senior secondary only                                    1476
adult, vocational, or technical                           303
Name: count, dtype: int64

In [329]:
df['Education_type'].value_counts()

Education_type
Formal Only       58598
formal_only       32002
Integrated         3998
integrated         1650
religious_only      716
Religious Only      651
dk                   39
Name: count, dtype: int64

In [331]:
df['Education_type'] = df['Education_type'].astype(str).str.strip().str.lower()
df['Education_type'].value_counts()

Education_type
formal only       58598
formal_only       32002
integrated         5648
religious_only      716
religious only      651
dk                   39
Name: count, dtype: int64

In [334]:
df['Education_type'] = df['Education_type'].replace({
    'formal only': 'formal_only',
    'religious only': 'religious_only'
})

In [335]:
df['Education_type'] = df['Education_type']. replace('dk', df['Education_type'].mode()[0])
df['Education_type'].value_counts()

Education_type
formal_only       90639
integrated         5648
religious_only     1367
Name: count, dtype: int64

In [338]:
df['Management_type'].value_counts()

Management_type
public         75620
private        20566
faith_based     1451
none              17
Name: count, dtype: int64

In [340]:
df = df[df['Management_type'].str.strip().str.lower() != "none"]
df['Management_type'].value_counts()

Management_type
public         75620
private        20566
faith_based     1451
Name: count, dtype: int64

In [344]:
df['Unique_lga'] = df['Unique_lga'].astype(str).str.strip().str.lower()
df['Unique_lga'].value_counts()

Unique_lga
ogun_ifo               565
kaduna_chikun          432
kaduna_kachia          331
benue_buruku           328
delta_uvwie            328
                      ...
borno_marte             14
yobe_yusufari           12
cross_river_bakassi     10
borno_ngala              6
borno_kwaya_kusar        3
Name: count, Length: 772, dtype: int64

Ward
1                       2135
2                       1507
9                       1313
7                       1300
3                       1245
                        ...
Raga                       1
Tube ward                  1
Kyola nomadic school       1
Gidan Agwai                1
Adiabo Efut Ward           1
Name: count, Length: 23826, dtype: int64